<div class="row">
  <button class="btn btn-primary col-sm-3 m-1" (click)="showAlert('onClick button 1')">1</button>
  <button class="btn btn-secundary col-sm-2 m-1" (click)="showAlert('onClick button 2')">2</button>
  <button class="btn sbtn-ecundary col-sm-2 m-1" (click)="showAlert('onClick button 3')">3</button>
  <button class="btn btn-secundary col-sm-2 m-1" (click)="showAlert('onClick button 4')">4</button>
</div>
